<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <meta name="description" content="UI for JmeterAwsConf">
        <meta name="author" content="shilezhao">
        <title>{{title}}</title>
        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    </head>
    <body>
     <div class="container">
       <form class="form-horizontal input-lg col-lg-6" action='' method="POST">
          <fieldset>
            <div id="legend">
              <legend class="">AWS Credential</legend>
            </div>
            <div class="control-group">
              <label class="control-label"  for="key_id">aws access key id</label>
              <div class="controls">
                <input type="text" id="key_id" name="aws_access_key_id" placeholder="" class="input-xlarge form-control" value={{key_id}}>
                <p class="help-block">20 characters</p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="access_key">aws secret access key</label>
              <div class="controls">
                <input type="text" id="access_key" name="aws_secret_access_key" placeholder="" class="input-xlarge form-control" value={{access_key}}>
                <p class="help-block">40 characters</p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="role">Role</label>
              <div class="controls">
                <input type="text" id="role" name="role" placeholder="" class="input-xlarge form-control" value={{role}}>
                <p class="help-block">For example: arn:aws:iam:abcdef1234567890:role:administrators</p>
              </div>
            </div>

            <div class="control-group">
              <!-- Button -->
              <div class="controls controls-lg">
                <button class="btn btn-success">Update</button>
                <a class="btn btn-default" href="/command"> back</a>
              </div>
            </div>
          </fieldset>
        </form>
    </div>
    </body>
</html>