<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <meta name="description" content="UI for JmeterAwsConf">
        <meta name="author" content="shilezhao">
        <title>{{title}}</title>
        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- custom css -->
        <link href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1 class="welcome text-center">Welcome to <br/> Jmeter Cloud Testing</h1>
            <div class="card card-container">
                <h2 class='login_title text-center'>Login</h2>
                <hr/>
                <form class="form-signin">
                    <!-- <p class="input_title">Email</p> -->
                    <input class="login_box" id="inputUsername"  type=text name=username placeholder="username" required autofocus>
                    <!-- <p class="input_title">Password</p> -->
                    <input class="login_box" type=password name=password placeholder="password" id="inputPassword" required>
                    <button id="login_btn" class="btn btn-lg btn-primary" >Login</button>
                </form>
                <div class="text-danger" id="invalid_hints" ><br/></div>
            </div>
            <script src="{{ url_for('static',filename = 'js/jquery.js' )}}"></script>
            <script type="text/javascript">
                var hint = function(str){
                    var p = $("<p/>").append(str)
                    $("#invalid_hints").append(p);
                    setTimeout(function(){p.remove();},3000)
                }

                $("#login_btn").click(function(e){
                    e.preventDefault()
                    if($('#inputUsername').val()=="") hint("Empty Username")
                    else {
                        $.ajax({
                            async: false,
                            cache: false,
                            type: 'POST',
                            dataType: 'json',
                            data: ({
                                'username': $('#inputUsername').val(),
                                'password': $('#inputPassword').val()
                            }),
                            url: '/login/',
                            success: function (data) {
                                if (data["success"] === '1') {  // server returns a "1" for success
                                    window.location = data["url"]
                                } else {
                                    hint("Invalid username or password")
                                }
                            },
                            error: function () {
                                // something went wrong with the request
                                hint("There is an error when validating user")
                            }
                        });
                    }
                })
            </script>
        </div>
    </body>
</html>