<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='css/simple-sidebar.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        main
                    </a>
                </li>
                <li>
                    <a href="#">...</a>
                </li>
               <!--  <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li> -->
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            	<div class="row">
            		<div class="col-md-2"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle >>> </a></div>
                   <div class="col-md-4"><h1 class="text-center">{{title}}</h1></div>
                    {% for p in paragraph%}
                    <p>{{p}}</p>
                    {% endfor %}
    			</div>  
                <br/>      	
                <div class="row">
                    <div class="col-lg-6"> 
                        <div class="row panel">
                            <div class="btn-group">
                              <a href="#" class="btn btn-default" id="btn_createTask">create</a>
                              <a href="#" class="btn btn-default" id="btn_resumeTask">resume</a>
                            </div>
                        </div>   
                        <div id="InputBlock_task" style="display: none;">	
                            <div class="row panel">
                                <div class="col-md-3"><label>Task Name</label></div>
                                <div class="col-md-3"><input id="jac_taskName" value="dummy"/></div>
                            </div>
                            <div class="row panel" id="InputRow_taskID" style="display: none;">
                                <div class="col-md-3"><label>Task ID</label></div>
                                <div class="col-md-1"><input id="jac_taskID" /></div>
                            </div>
                            <div class="row panel">
                                <a href="#" class="btn btn-default" id='btn_taskConfirm'>confirm</a>
                            </div>
                        </div>
                        <div id="InputBlock_slaveNem" style="display: none;">   
                            <div class="row panel">
                                <div class="col-md-3"><label>Slave Num</label></div>
                                <div class="col-md-1"><input id="jac_slaveNum" value='3' /></div>
                            </div>
                            <div class="row panel">
                                <div class="btn-group">
                                  <a href="#" class="btn btn-default" id="btn_setSlaveNum" >update number</a>
                                </div>
                            </div>
                        </div>
                        <div id="InputBlock_uploadFiles" style="display: none;">
                            <div class="row panel">
                                <div class="col-md-3"><label>Upload Path</label></div>
                                <div class="col-md-1"><input id="jac_uploadFiles" type="file" name="file" multiple /></div>
                            </div>
                            <div class="row panel">
                                <div class="btn-group">
                                  <a href="#" class="btn btn-default" id="btn_uploadTask" >upload</a>
                                </div>
                            </div>
                        </div>
                        <div id="InputBlock_execJMX" style="display: none;">
                            <div class="row panel" >
                                <div class="col-md-3"><label>JMX to run</label></div>
                                <div class="col-md-1"><input id="jac_JMXName" value="smoke.jmx"/></div>
                            </div>
                            <div class="row panel">
                                <div class="btn-group">
                                  <a href="#" class="btn btn-default" id="btn_runTask">run</a>
                                </div>
                                <div class="btn-group">
                                  <a href="#" class="btn btn-default" id="btn_cleanupTask">cleanup</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">   
                        <div class="row">
                           <a href="#" class="btn btn-sm btn-default" id = "btn_clear">clear</a>   
                        </div>
                    	<div class="row panel">
                            <div id="output">
                    		output
                            </div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static',filename = 'js/jquery.js' )}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename = 'js/bootstrap.min.js') }}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script src="{{ url_for('static',filename = 'js/btnEvent.js') }}"></script>

</body>

</html>
