<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="UI for JmeterAwsConf">
    <meta name="author" content="shilezhao">

    <title>{{title}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='css/simple-sidebar.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        main
                    </a>
                </li>
                <li>
                    <a href="#">...</a>
                </li>
               <!--  <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li> -->
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            	<div >
            		<div class="row"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle" style="display: none;">Toggle >>> </a></div>
                    <div class="row"><h1 class="text-center">{{title}}</h1></div>
                    <div>
                        {% for p in paragraph%}
                        <p>{{p}}</p>
                        {% endfor %}
                    </div>
                    <div  id="jac_config_area">                  
                        <button class="jac_configJson_open">Configuration Json</button>
                        <div id="jac_configJson">
                            <textarea cols="100" rows="25" id="jac_config_testArea"></textarea>
                            <br/>
                            <button id="jac_config_save">save and fresh</button>
                            <button class="jac_configJson_close">close</button>
                        </div>
                    </div>
    			</div>  
                <br/>      	
                <div class="row">
                    <div class="col-lg-6" id="btn_op_area"> 
                        <div class="row panel" id="InputBlock_startTask" >
                            <div class="btn-group">
                              <a href="#" class="btn btn-default" id="btn_createTask">create</a>
                              <a href="#" class="btn btn-default" id="btn_resumeTask">resume</a>
                            </div>
                        </div>   
                        <div id="InputBlock_taskInfo">	
                            <div class="row panel" id="InputRow_task" style="display: none;">
                                <div class="col-md-3"><label>Task Name</label></div>
                                <div class="col-md-3"><input id="jac_taskName" value="dummy"/></div>
                                <div class="col-md-1" id="cleaup_btn_div" style="display: none";>
                                   <a href="#" class="btn btn-default btn-sm" id="btn_cleanupTask">cleanup</a>
                                </div>
                            </div>
                            <div class="row panel" id="InputRow_taskID" style="display: none;">
                                <div class="col-md-3"><label>Task ID</label></div>
                                <div class="col-md-1"><input id="jac_taskID" /></div>
                            </div>
                            <div class="row panel" id="InputRow_resumeTasks" style="display: none;">
                            </div>
                            <div class="row panel" id="InputRow_confirmBtn" style="display: none;">
                                <a href="#" class="btn btn-default" id='btn_taskConfirm'>confirm</a>
                            </div>
                        </div>
                        <div id="InputBlock_slaveNem" style="display: none;">   
                            <div class="row panel">
                                <div class="col-md-3"><label>Slave Num</label></div>
                                <div class="col-md-3"><input id="jac_slaveNum" value='0' /></div>
                                <div class="col-md-1">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-default btn-sm" id="btn_setSlaveNum" >update number</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="InputBlock_uploadFiles" style="display: none;">
                            <div class="row panel">
                                <div class="col-md-3"><label>Upload Path</label></div>
                                <div class="col-md-3"><input id="jac_uploadFiles" type="file" name="file" multiple /></div>
                                <div class="col-md-1">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-default btn-sm" id="btn_uploadTask" >upload</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="InputBlock_execJMX" style="display: none;">
                            <div class="row panel" >
                                <div class="col-md-3"><label>JMX to run</label></div>
                                <div class="col-md-1"><select id="jac_JMXName"></select></div>
                            </div>
                            <div class="row panel">
                                <div class="btn-group">
                                  <a href="#" class="btn btn-default" id="btn_runTask">run</a>
                                  <a href="#" class="btn btn-default disabled" id="btn_stopRunning" >stop</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">   
                        <div class="row">
                           <a href="#" class="btn btn-sm btn-default" id = "btn_clear">clear</a>   
                        </div>
                    	<div class="row panel">
                            <div id="output"></div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static',filename = 'js/jquery.js' )}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename = 'js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static',filename = 'js/socket.io.min.js') }}"></script>

    <script src="{{ url_for('static',filename = 'js/jquery.popupoverlay.js') }}"></script>

    <script src="{{ url_for('static',filename = 'js/afterReady.js') }}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script src="{{ url_for('static',filename = 'js/btnEvent.js') }}"></script>

</body>

</html>
